#contact{
	margin: 1rem;
	margin-bottom: 8rem;
	padding: 5px;
}

.header{
	font-family: "Raleway";
	
}

.content{
	font-family: "Lora";
}

p{
	margin-bottom: 1.5rem;
}


.contact{
	margin: 3rem;
	display: inline-grid;
}
.contact-picture{
	height: 30px;
	width: 30px;
}

.description{
	padding: 3rem;
	margin-left: 3rem; 
	margin-right: 3rem; 
}